.gold {
    width: 25vw;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    color: red;
    height: 50vh;
    img {
        height: 100px;
        width: auto;
    }
}
